In [52]:
# Import Dependencies
import pandas as pd
from config import apikey
import requests
import time

In [56]:
# Setup API configuration
base_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='

tickers = {
    'USA' : '.INX',
    'Korea' : 'KF',
    'Japan' : 'EWJ',
    'Singapore' : 'EWS',
    'Australia' : 'EWA',
    'Malaysia' : 'EWM',
    'Vietnam' : 'VNM',
    'Italy' : 'EWI',
    'France' : 'EWQ',
    'Germany' : 'EWG',
    'Spain' : 'EWP',
    'UK' : 'EWU',
    'Switzerland' : 'EWL',
    'Norway' : 'ENOR',
    'Netherlands' : 'EWN',
    'Austria' : 'EWO',
    'Sweden' : 'EWD',
    'Iceland' : 'OMX',
    'Belgium' : 'EWK',
    'Israel' : 'EIS',
    'Denmark' : 'EDEN',
    'Thailand' : 'THD',
    'India' : 'INDA',
    'Kuwait' : 'NAVKD',
    'Bahrain' : 'BAX',
    'UAE' : 'UAE',
    'Canada' : 'EWC',
    'China' : 'MCHI'
}

columns = ['country','date','price']
df = pd.DataFrame(columns = columns)

counter = 0

for key, value in tickers.items():
    
    try:
        query_url = base_url + value + '&apikey=' + apikey
        response = requests.get(query_url).json()

        data = response['Time Series (Daily)']

        for dateValue, prices in data.items():
            date = dateValue
            close = data[dateValue]['4. close']

            df = df.append({'country': key, 
                            'date': date,
                            'price': close}, ignore_index=True)
    except KeyError:
        print(f'Ticker {key} not found. Skipping.')
    
    counter += 1
    if counter == 5:
        counter = 0
        
        # API only allows five requests per minute
        time.sleep(65)

Ticker Iceland not found. Skipping.
Ticker Kuwait not found. Skipping.

In [57]:
df.to_csv('stock_data.csv', )

     country        date      price
0        USA  2020-03-09  2746.5601
1        USA  2020-03-06  2972.3701
2        USA  2020-03-05  3023.9399
3        USA  2020-03-04  3130.1201
4        USA  2020-03-03  3003.3701
...      ...         ...        ...
2595   China  2019-10-21    58.3800
2596   China  2019-10-18    57.7300
2597   China  2019-10-17    58.6800
2598   China  2019-10-16    58.5900
2599   China  2019-10-15    58.4900

[2600 rows x 3 columns]