In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Load in stocks data
stocks = pd.read_csv('stock_data.csv')
stocks.head()

  country        date      price
0     USA  2020-03-09  2746.5601
1     USA  2020-03-06  2972.3701
2     USA  2020-03-05  3023.9399
3     USA  2020-03-04  3130.1201
4     USA  2020-03-03  3003.3701