In [52]:
# Import Dependencies
import pandas as pd
from config import apikey
import requests
import time

In [59]:
# Setup API configuration
base_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='

tickers = {
    'US' : '.INX',
    'KR' : 'KF',
    'JP' : 'EWJ',
    'SG' : 'EWS',
    'AU' : 'EWA',
    'MY' : 'EWM',
    'VN' : 'VNM',
    'IT' : 'EWI',
    'FR' : 'EWQ',
    'DE' : 'EWG',
    'ES' : 'EWP',
    'UK' : 'EWU',
    'CH' : 'EWL',
    'NO' : 'ENOR',
    'NL' : 'EWN',
    'AT' : 'EWO',
    'SE' : 'EWD',
    'IS' : 'OMX',
    'BE' : 'EWK',
    'IL' : 'EIS',
    'DK' : 'EDEN',
    'TH' : 'THD',
    'IN' : 'INDA',
    'KW' : 'NAVKD',
    'BH' : 'BAX',
    'AE' : 'UAE',
    'CA' : 'EWC',
    'CN' : 'MCHI'
}

columns = ['country','date','price']
df = pd.DataFrame(columns = columns)

counter = 0

for key, value in tickers.items():
    
    try:
        query_url = base_url + value + '&apikey=' + apikey
        response = requests.get(query_url).json()

        data = response['Time Series (Daily)']

        for dateValue, prices in data.items():
            date = dateValue
            close = data[dateValue]['4. close']

            df = df.append({'country': key, 
                            'date': date,
                            'price': close}, ignore_index=True)
    except KeyError:
        print(f'Ticker {key} not found. Skipping.')
    
    counter += 1
    if counter == 5:
        counter = 0
        
        # API only allows five requests per minute
        time.sleep(65)

Ticker IS not found. Skipping.
Ticker KW not found. Skipping.

In [60]:
df.to_csv('stock_data.csv', index=False, header=True)

df.head()

  country        date      price
0      US  2020-03-09  2746.5601
1      US  2020-03-06  2972.3701
2      US  2020-03-05  3023.9399
3      US  2020-03-04  3130.1201
4      US  2020-03-03  3003.3701